/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

h1, h2, h3, h4, h5, h6{
  line-height: 23px;
}

p.standard {
  line-height: 25px;
}

.Roboto-Light-14 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.Roboto-Light-16 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.Roboto-Light-24 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.Roboto-Regular-21 {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 400;
}

.Montserrat-Medium-15 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.OpenSans-Light-50 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.OpenSans-Light-33 {
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
  font-weight: 300;
}

.OpenSans-Light-14 {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.OpenSans-Light-24 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.OpenSans-Regular-16 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.OpenSans-Bold-20 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.btn {
  background-color: #0D567f;
}

.btn-large {
  background-color: #11a04e;
}

.slogan {
  font-size: 50px;
}

.mycontainer {
  margin-left: 5%;
  margin-right: 5%;
}

.icon-header {
  font-size: 15px;
}

.app-header {
  font-size: 20px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.bgimg {
  background-image: url('../background4.jpg');
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
